//begin footer
footer.footer
  a.copyright__link(href="http://odinokun.com/" target="_blank" rel="nofollow noopener noreferrer")
    span.copyright
    |odinokun.com
    =" "
    |&#169; 2019
//end   footer