//begin top-section
section.top-section
  .container
    h2.top-section__title Домолан
    h3.top-section__subtitle Ваш надiйний провайдер
    .top-section__row
      a.privat-btn(href="http://185.155.88.249/cgi-bin/stat.pl" target='__blank') Особистий кабiнет
    .top-section__row.top-section__row--phone
      a.top-section__phone-link(href="tel:+380954408080") 095-440-80-80
      a.top-section__phone-link(href="tel:+380684408080") 068-440-80-80
      a.top-section__phone-link(href="tel:+380734408080") 073-440-80-80
//end   top-section