//begin tv
section.tv#tv
  .container
    header.section-header
      h2.section-header__title Телебачення

    .tv-tariff
      .tv-tariff__item
        span.tv-tariff__top-text Тариф
        h3.tv-tariff__title.tariff-title 65 каналiв
        .tv-tariff__class
          |клас -
          =' '
          span Премiум
        .tv-tariff__price
          |вартiсть -
          =' '
          span 200 грн
        button.btn.btn--dark.popup-open Замовити

      .tv-tariff__item
        span.tv-tariff__top-text Тариф
        h3.tv-tariff__title.tariff-title 100 каналiв
        .tv-tariff__class
          |клас -
          =' '
          span Супер
        .tv-tariff__price
          |вартiсть -
          =' '
          span 100 грн
        button.btn.btn--dark.popup-open Замовити
//end tv