//begin header-menu
nav.header-menu#header-menu
  ul.header-menu__list
    li.header-menu__item
      a(href="#internet").header-menu__link Інтернет
    //li.header-menu__item
      a(href="#").header-menu__link Новини
    li.header-menu__item
      a(href="#payment").header-menu__link Оплата послуг
    li.header-menu__item
      a(href="#tv").header-menu__link Телебачення
    li.header-menu__item
      a(href="#contacts").header-menu__link Контакти
    //li.header-menu__item
      a(href="#").header-menu__link Акції
//end   header-menu