*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  font-family: $font;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}
body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 10px 0;
  color: $title;
}
h1 {
  font-family: $font-bold;
  font-size: 36px;
}
h2 {
  font-family: $font-bold;
  font-size: 32px;
}
h3 {
  font-family: $font-bold;
  font-size: 28px;
}
h4 {
  font-family: $font-bold;
  font-size: 24px;
}
h5 {
  font-family: $font-bold;
  font-size: 22px;
}
h6 {
  font-family: $font-bold;
  font-size: 20px;
}
p {
  font-size: 16px;
}
a {
  transition: color .5s;
  color: $highlight;
  &:hover {
    text-decoration: none;
    color: $highlight-hov;
  }
}
ol,
ul {
  li {
    padding: 3px 0;
  }
}
ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}
//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}
input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}
input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}
textarea {
  resize: none;
}
input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}
svg {
  display: block;
  overflow: visible;
}
//изменяем цвет выделения текста мышью
::selection {
  // background-color: $brand;
  // color: $brand;
  // text-shadow: none;
}


.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  &.no-scroll {
    overflow: hidden;
  }
}
.main {
  flex-grow: 1;
}


.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;

  @include max(768) {
    padding: 10px 20px;
  }
  @include max(425) {
    padding: 10px;
  }
}

.section-header {
  padding: 20px 0;
  text-align: center;
}

.section-header__title {
  font-size: 50px;
  line-height: 1;
  margin: 0;
  letter-spacing: 2px;

  @include max(768) {
    font-size: 40px;
  }
  @include max(420) {
    font-size: 30px;
  }
}

.btn {
  font-family: $font-bold;
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  transition: .5s;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
  box-shadow: none;
  &.active {
    pointer-events: none;
  }

  @include max(740) {
    font-family: $font-title;
    font-size: 13px;
  }
}

.btn.btn--dark {
  color: $highlight;
  border: 3px solid $highlight;

  @include max(740) {
    border: 2px solid $highlight;
  }
  &:hover,
  &.active {
    color: #fff;
    background-color: $highlight;
  }
}

.btn.btn--light {
  color: #fff;
  border: 3px solid #fff;

  @include max(740) {
    border: 2px solid #fff;
  }
  &:hover,
  &.active {
    color: $highlight;
    background-color: #fff;
  }
}
