// ***** main colors *******
$brand: #95e1d3;
$dark: #333;
$light: #999;

$highlight: #753a88;
$highlight-hov: #cc2b5e;

$highlight-2: #f38181;

// ***** text colors *******
$text: #999;
$title: #333;

// ===== fonts =====
$font:            'Roboto', sans-serif;
$font-bold:       'Monster-Bold', sans-serif;
$font-title:      'Monster', sans-serif;

// ===== sizes =====
$radius-btn: 6px;
