extends ../_template

block variables
  - var title       = 'Домолан | Domolan'
  - var description = 'Домолан | Domolan'
  - var ogtitle     = 'Домолан | Domolan'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    .main
      include ../sections/top-section
      include ../sections/internet
      include ../sections/payment
      include ../sections/tv
      include ../sections/contacts
    //end content

    include ../sections/footer
    include ../elements/popup